*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$CategoryAmountViewKt$lambda-1$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$CategoryAmountViewKt$lambda-2$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$CategoryAmountViewKt.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$DashboardScreenKt$lambda-1$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$DashboardScreenKt$lambda-2$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$DashboardScreenKt$lambda-3$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$DashboardScreenKt$lambda-4$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$DashboardScreenKt$lambda-5$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$DashboardScreenKt$lambda-6$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$DashboardScreenKt$lambda-7$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$DashboardScreenKt$lambda-8$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$DashboardScreenKt$lambda-9$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/ComposableSingletons$DashboardScreenKt.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardAction$OpenAccountEdit.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardAction$OpenAccountList.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardAction$OpenBudgetDetails.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardAction$OpenBudgetList.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardAction$OpenSettings.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardAction$OpenTransactionEdit.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardAction$OpenTransactionList.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardAction.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScaffoldContent$1$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScaffoldContent$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScaffoldContent$2.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScaffoldContent$3.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreen$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$2.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$3$1$2$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$3$invoke$lambda$2$$inlined$items$default$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$3$invoke$lambda$2$$inlined$items$default$2.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$3$invoke$lambda$2$$inlined$items$default$3.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$3$invoke$lambda$2$$inlined$items$default$4.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$3.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$4.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$5.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$6$1$2$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$6$invoke$lambda$2$$inlined$items$default$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$6$invoke$lambda$2$$inlined$items$default$2.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$6$invoke$lambda$2$$inlined$items$default$3.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$6$invoke$lambda$2$$inlined$items$default$4.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$6.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$7.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$1$9$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$lambda$5$$inlined$items$default$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$lambda$5$$inlined$items$default$2.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$lambda$5$$inlined$items$default$3.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt$DashboardScreenContent$lambda$5$$inlined$items$default$4.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardScreenKt.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardState.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardViewModel$1.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardViewModel$2.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardViewModel$3.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardViewModel$Companion.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardViewModel.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardViewModel_Factory.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardViewModel_HiltModules$BindsModule.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardViewModel_HiltModules$KeyModule.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardViewModel_HiltModules.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardViewModel_HiltModules_KeyModule_ProvideFactory$InstanceHolder.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DashboardViewModel_HiltModules_KeyModule_ProvideFactory.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DataBinderMapperImpl$InnerBrLookup.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DataBinderMapperImpl$InnerLayoutIdLookup.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/transformed/bundleLibRuntimeToDirDebug/bundleLibRuntimeToDirDebug_dex/com/naveenapps/expensemanager/feature/dashboard/DataBinderMapperImpl.dex
/app/dashboard/build/.transforms/f44ef810a9401ae0b2b06731d60149c6/
/app/dashboard/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/hilt_aggregated_deps/_com_naveenapps_expensemanager_feature_dashboard_DashboardViewModel_HiltModules_BindsModule.class
/app/dashboard/build/intermediates/runtime_library_classes_dir/debug/bundleLibRuntimeToDirDebug/hilt_aggregated_deps/_com_naveenapps_expensemanager_feature_dashboard_DashboardViewModel_HiltModules_KeyModule.class
